@import "tailwindcss";

/* Minimal global styles */
body {
  font-family: var(--font-geist-sans), sans-serif;
  background-color: #fbfaf4;
}

/* Hide native cursor everywhere within the webpage */
* {
  cursor: none !important;
}
